{% extends '_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
body {
	background: #f3f2f2;
}
.container {
	margin-bottom: 5vh;
}
.row {
	height: 100vh;
	border-radius: 5vh;
}
.form {
	box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.12);
}
.image img {
	width: 350px;
	min-width: 50px;
	height: 525px;
	min-height: 100px;
}
.my-form {
	width: 425px;
	height: 525px;
	background-color: white;
	margin-left: 0;
	padding-left: 5vh;
	padding-right: 5vh;
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.form-control {
	color: blue;
}
.btn-info {
	background-color: blue;
	color: white;
	text-align: center;
	margin-left: 65px;
	margin-top: 4vh;
	margin-bottom: 3vh;
}
.password {
	margin-top: 3vh;
}
.justify-content-around {
	margin-top: 4vh;
}
.extra {
	text-align: center;
	font-size: larger;
}
.hell {
	text-align: center;
	font-size: larger;
	margin-top: 37vh;
}
.heading {
	text-align: center;
	color: white;
	margin-top: 5vh;
	color: hsla(0, 0%, 0%, .9);
	font: normal 40px Varela Round, sans-serif;
	height: 60px;
	left: 0;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	animation: move linear 2000ms infinite;
}

@keyframes move {
	0% {
		text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1), 3px -3px 0 hsla(0, 100%, 50%, 1),
			2px -2px 0 hsla(0, 100%, 50%, 1), 1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
			-3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1);
	}
	25% {
		text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1), -3px -3px 0 hsla(180, 100%, 50%, 1),
			-2px -2px 0 hsla(180, 100%, 50%, 1), -1px -1px 0 hsla(180, 100%, 50%, 1), 4px 4px 0 hsla(0, 100%, 50%, 1),
			3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1), 1px 1px 0 hsla(0, 100%, 50%, 1);
	}
	50% {
		text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1), -3px 3px 0 hsla(0, 100%, 50%, 1),
			-2px 2px 0 hsla(0, 100%, 50%, 1), -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 hsla(180, 100%, 50%, 1),
			3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1), 1px -1px 0 hsla(180, 100%, 50%, 1);
	}
	75% {
		text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1), 3px 3px 0 hsla(180, 100%, 50%, 1),
			2px 2px 0 hsla(180, 100%, 50%, 1), 1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1),
			-3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1), -1px -1px 0 hsla(0, 100%, 50%, 1);
	}
	100% {
		text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1), 3px -3px 0 hsla(0, 100%, 50%, 1),
			2px -2px 0 hsla(0, 100%, 50%, 1), 1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
			-3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1);
	}
}


</style>
{% endblock css %}

{% block optional %}
{% endblock optional %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <div class="form d-flex justify-content-between">
          <div class="image view">
            <img src="https://mdbootstrap.com/img/Photos/Others/sidenav2.jpg">
            <div class="mask flex-top rgba-black-strong">
              <h1 class="heading">Password Reset</h1>
            </div>
            <div class="mask flex-center ">
              <p class="white-text extra">Forgotten your password? </p>
            </div>
            <div class="mask flex-bottom ">
              <p class="white-text hell">Don't worry it happens to the best of us.Retrive your'e password in few easy steps.</p>
            </div>
          </div>
          <form action="" method="POST" class="my-form">
              {% csrf_token %}
              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <!--email address-->
                <div class="md-form password">
                    <i class="fa fa-lock fa-2x prefix icon"></i>
                    {% if form.is_bound %}
                        {% if form.email.errors %}
                            {% render_field form.email class="form-control is-invalid" id='pwd' placeholder='' %}
                            {% for error in form.email.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.email class="form-control is-valid" id='pwd' placeholder='' %}
                        {% endif %}
                    {% else %}
                        {% render_field form.email class="form-control" id='pwd' placeholder='' %}
                    {% endif %}
                    <label for="id_email">Email</label>
				</div>
				<button type="submit" role="button" class="btn btn-info btn-lg">Retrive</button>
                <div class="d-flex justify-content-around">
                    <p>Enter your e-mail address , and we'll send you an e-mail allowing you to reset it.</p>
				</div>
				<div class="d-flex justify-content-bottom">
					<p>Please contact us if you have any trouble resetting your password.</p>
				</div>

            </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}