{% extends '_base.html' %}
{% load static %}

{% block css %}
<style>
.jumbotron{
    text-align: center;
    margin: 0 auto;
    margin-top: 15vh;
    max-width: 500px;
	max-height: 500px;
	background: url("/Users/tanukatiyar/Desktop/src/Sneakstore/static/img/sidenav.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.social_sign {
	text-align: center;
	align-content: center;
	margin-top: 1vh;
}
.social {
	align-content: center;
	margin-left: 17px;
	margin-bottom: 4px;
	padding-bottom: 2px;
}
.social_sign{
	align-content: center;
}
hr{
	margin-bottom: 3vh;
	margin-top: 4vh;
}
.heading {
	text-align: center;
	color: white;
	color: hsla(0, 0%, 0%, .9);
	font: normal 40px Varela Round, sans-serif;
	height: 60px;
	left: 0;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
    animation: move linear 2000ms infinite;
    margin-bottom: 10vh;
}

@keyframes move {
	0% {
		text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1), 3px -3px 0 hsla(0, 100%, 50%, 1),
			2px -2px 0 hsla(0, 100%, 50%, 1), 1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
			-3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1);
	}
	25% {
		text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1), -3px -3px 0 hsla(180, 100%, 50%, 1),
			-2px -2px 0 hsla(180, 100%, 50%, 1), -1px -1px 0 hsla(180, 100%, 50%, 1), 4px 4px 0 hsla(0, 100%, 50%, 1),
			3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1), 1px 1px 0 hsla(0, 100%, 50%, 1);
	}
	50% {
		text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1), -3px 3px 0 hsla(0, 100%, 50%, 1),
			-2px 2px 0 hsla(0, 100%, 50%, 1), -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 hsla(180, 100%, 50%, 1),
			3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1), 1px -1px 0 hsla(180, 100%, 50%, 1);
	}
	75% {
		text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1), 3px 3px 0 hsla(180, 100%, 50%, 1),
			2px 2px 0 hsla(180, 100%, 50%, 1), 1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1),
			-3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1), -1px -1px 0 hsla(0, 100%, 50%, 1);
	}
	100% {
		text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1), 3px -3px 0 hsla(0, 100%, 50%, 1),
			2px -2px 0 hsla(0, 100%, 50%, 1), 1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
			-3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1);
	}
}
</style>
{% endblock css %}

{% block optional %}
{% endblock optional %}

{% block content %}
<div class=" jumbotron">
    <h1 class="heading">Password Reset</h1>
    <p class="mask flex-center">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
    <hr>
        <p class="social_sign">Contact us at:</p>
          <div class="social">
          <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fab fa-twitter"></i>
          </a>
          <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="btn-floating btn-git btn-sm">
              <i class="fab fa-github"></i>
          </a>
        </div> 
</div>
{% endblock content %}